
/*  wood background with white book with recipes */
body {
    font-size: 44px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
    background-image: url("../images/restaurant.png");
    color: #FFFFFF;
    max-height: 100vh;
    text-align: center;
}
.main-content {
    /* padding: 30px 50px 30px 50px; */
}
ul {
    display: inline-block;
}
/* TO DO: USE IMAGE AS BULLETS  */
ul li {
    list-style-type: square;
    text-align: left;
}
ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
footer {
  position: absolute; 
  bottom: 0;
  left: 0; 
}

/*    INDIVIDUAL PAGES    */
.akara, .benachin, .fish-pie {
    text-align: left;
}
.akara {
    
}
.benachin {
    
}
.fish-pie {
    
}
