
/*  wood background with white book with recipes */
body {
    font-size: 44px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("images/restaurant.png");
    color: #FFFFFF;
    max-height: 100vh;
    position: relative;
    text-align: center;
}
main {
    text-align: center;
    display: inline-block;
    padding: 30px 50px 30px 50px;
}
ul {
    display: inline-block;
    padding: 50px;
}
ul li {
    list-style-type: none;
}
ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
footer {
  position: absolute; 
  bottom: 0;
  left: 0; 
}
